.header {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 0;

    &-menu {
        display: none;

        @include breakpoint-min(1201px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        li {
            padding: 10px 25px;
        }

        a,
        button {
            color: #ffffff;
            font-size: 16px;

            @include breakpoint-min(1201px) {
                transition: all 0.3s;

                &:hover {
                    color: #fb236a;
                }
            }
        }

        &-mobile-btn {
            text-align: right;

            @include breakpoint-min(1201px) {
                display: none;
            }

            img {
                height: 32px;
                height: 32px;
            }
        }
    }

    &-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    &-auth {
        display: flex;
        align-items: center;

        button {
            padding-left: 26px;
            background: transparent;
            border: 0;
            font-weight: 700;
            background: no-repeat left center / auto;

            &.header-auth-register {
                background-image: url('/images/icons/register-white.svg');

                @include breakpoint-min(1201px) {
                    &:hover {
                        background-image: url('/images/icons/register-pink.svg');
                    }
                }
            }

            &.header-auth-login {
                background-image: url('/images/icons/login-white.svg');

                @include breakpoint-min(1201px) {
                    &:hover {
                        background-image: url('/images/icons/login-pink.svg');
                    }
                }
            }
        }
    }
}
